.toolkit1{
	background-color:#11F43C;
	color: white;
	border: 2px solid #7272DB;
}

@media (min-width:320px)  {

	.node{
		position: absolute;
		width: 88px;
		left: 10%;
	}
	.react{
		position: absolute;
		width: 88px;
		top: 8px;
		left: 40%;
	}
	.js{
		position: absolute;
		top: -2px;
		width: 88px;
		left: 55%;
	}
	.mongo{
		position: absolute;
		top: 90px;
		width: 70%;
		left: 14%;
	}
	.native{
		position: absolute;
		top: 108px;
		width: 70%;
		left: 50%;
	}
	.paragraph{
		position: absolute;
		top: 850%;
	}
}
@media (min-width:1025px) {
	.node{
		width: 50%;
	}
	.react{
		position: absolute;
		width: 50%;
		left: 30%;
		top: 19px;
	}
	.js{
		position: absolute;
		width: 50%;
		left: 20%;
	}
	.mongo{
		position: absolute;
		width: 50%;
		top: 230px;
		left: 60%;
	}
	.paragraph{
		position: absolute;
		top: 400%;
		left: 17%;
		font-size: 15px;

	}
	.native{
		position: absolute;
		width: 50%;
		top: 274px;
		left: 70%;
	}
}